#single-menu-page {
    padding: 100px;
  }
#single-menu-page h1 {
   font-size: 3rem;
   font-weight: 700;
   color: rgb(162,30,39);
   margin-bottom: 2rem; 
  }
#single-menu-page .item  {
    margin-bottom: 1rem; 
  }
#single-menu-page .title  {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.5rem; 
  }
#single-menu-page .title h4 {
    font-size: 1.4rem;
    color: black;
    font-weight: 900;
  }
#single-menu-page .price {
    font-size: 1.4rem;
    color: black;
    font-weight: 900;
  }


  
  @media (min-width: 0px) and (max-width: 767px) {
    #single-menu-page {
      padding: 20px;
    }
   
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
   
  }
  
  
  @media (min-width: 992px) and (max-width: 1199px) {
    #single-menu-page  {
      transform: translate3d(300px, 0, 0);
      max-width: calc(100vw - 300px);
      }
   
  }
  
  
  @media (min-width: 1200px) {
    #single-menu-page  {
      transform: translate3d(300px, 0, 0);
      max-width: calc(100vw - 300px);
    }
    
  }