#app-layout .side-menu 
	display: none

h2 
	font-size: 2rem
	margin-bottom: 2rem
	line-height: 1.4

#app-layout .welcome-jumbo, #app-layout #content-section 
	width: 100%
	max-width: 100%
	padding: 20px
	transform: translate3d(0, 0, 0)
	overflow: hidden

#information 
	grid-template-columns: 1fr
	grid-template-rows: 200px auto
	.info 
		padding: 20px
		.about-link .span 
			width: 50%
		
		.paragraphs 
			grid-template-columns: 1fr
		
	

#food-preview 
	width: 100%
	overflow: hidden
	padding: 20px
	.container .left-btn 
		left: -20px
	
	.container .right-btn 
		right: -20px
	
	h1 
		font-size: 2rem
		line-height: 1.4
	
	.food-slider .slide 
		width: 100%
///////////////////////////////////////////////////////////////////////////	

#app-layout .side-menu 
	display: none

#app-layout .welcome-jumbo, #app-layout #content-section 
	width: 100%
	max-width: 100%
	padding: 20px
	transform: translate3d(0, 0, 0)
	overflow: hidden

#information 
	grid-template-columns: 1fr
	grid-template-rows: 400px auto
	.info 
		padding: 20px
		.about-link .span 
			width: 50%
		
		.paragraphs 
			grid-template-columns: 50% 50%

#food-preview 
	width: 100%
	overflow: hidden
	padding: 20px
	.container .left-btn 
		left: -20px
	
	.container .right-btn 
		right: -20px
	
	h1 
		font-size: 2rem
		line-height: 1.4
	
	.food-slider .slide 
		width: 50%            
